body{
    background-color: #C5FFF8;
}


.gradient-background {
    background: linear-gradient(300deg, #7B66FF, #96EFFF, #5FBDFF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

p{
    font-size: 21px;
    font-weight: bold;
    font-family: humanistic;
}

.opis{
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.myCarusel{
  background-color: #96EFFF;
}